.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #3884e8;
    font-family: "Roboto";
    box-sizing: border-box;
}
.welcome-heading{
    font-size: 45px;
}
.authenticate-btn{
    font-size: 35px;
}
.card-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 3%;
    border-radius: 15px;
}
.card-2{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #ffffff;
    padding: 2%;
    border-radius: 15px;
}

.authenticate-heading{
    font-size: 45px;
    text-align: center;
    margin-bottom: 1%;
}
label{
    font-size: 30px;
    font-weight: 300;
}
.input{
    font-size: 30px;
    border: 2px;
    background-color: #6dacff;
}
.button{
    margin-top: 3%;
}
ol{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;

}
li{
    font-size: 20px;
}
.optionsContainer{
    margin: 0%;
    list-style-type: lower-alpha;
}
.line{
    background-color: black;
}

@media screen and (orientation:portrait) {
    .text-container{
        margin: 0%;
    }
    .card-1{
        width: 80%;
        position: relative;
        padding: 25%;
        margin: 15%;
    }
    .card-2{
        width: 80%;
        position: relative;
        padding: 15%;
        margin: 15%;
        margin-top: 0%;
        font-size: 75px;
    }
    .welcome-heading{
        margin-top: 0%;
        font-size: 100px;
    }
    .authenticate-btn{
        margin-top: 5%;
        font-size: 75px;
        border-radius: 10px;
    }
    .authenticate-heading{
        font-size: 120px;
    }
}
@media screen and (orientation:portrait) {
    label{
        font-size: 70px;
    }
    .input{
        padding: 5%;
        font-size: 65px;
    }
    .optionsContainer{
        margin: 0%;
        list-style-type: lower-alpha;
    }    
    .question{
        font-family: "Roboto";
        font-size: 60px;
    }
    .option{
        font-size: 60px;
    }
    .toggle-btn{
        font-size: 50px;
    }
}